<%- include("includes/head.ejs") %>
</head>
<body>
    <h1>Upload success!</h1>
    <p>... or at least nothing blew up</p>
    <p>so go check your gather.town poster room and see if stuff showed up!</p>

<%- include("includes/end.ejs") %>